<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckMate</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div class="card">
    <h1>Crea una vivienda!</h1>

    <div th:if="${errorMessage}" style="color:red; margin-bottom:10px;">
        <p th:text="${errorMessage}"></p>
    </div>

    <button onclick="openMenu()">Pulsa este botón para crear tu vivienda</button>
    
    <a href="/listar" style="display: block; margin-top: 15px; padding: 16px 30px; text-decoration: none; text-align: center; border-radius: 14px; font-weight: 700; background: rgba(255,255,255,0.1); color: white; border: 1px solid rgba(255,255,255,0.3);">
        🏠 Ver viviendas registradas
    </a>
   
</div>




<div class="modal" id="houseMenu" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeMenu()">✖</span>

        <h2>Crear Vivienda</h2>

        <form action="/submit" method="post" enctype="multipart/form-data">

            <label>Nombre de la Vivienda<br></label>
            <input type="text" name="houseName" required
            pattern="^[a-zA-Z0-9 áéíóúÁÉÍÓÚñÑ]+$" 
            oninvalid="this.setCustomValidity('El formato del nombre es incorrecto.')" 
            oninput="this.setCustomValidity('')">

            <label><br>Descripción<br></label>
            <textarea name="description" required
            oninput="validarDescripcion(this)"
            oninvalid="if(this.value===''){this.setCustomValidity('Por favor, añade una descripción.')}"></textarea>

            <label><br>Foto de la Vivienda<br></label>
            <input type="file" name="image" accept=".png, .jpeg">



            <button type="submit">Crear</button>

        </form>

    </div>
</div>

</body>
<script src="/js/index.js" th:src="@{/js/index.js}"></script>
</html>